.button
{
-fx-background-color : #FFF;
-fx-border-color: #355ECE;
-fx-text-fill:  #0C3988;
}
.button:hover
{
-fx-background-color : #355ECE ;
-fx-text-fill:  #FFF;
}
.button:pressed
{
-fx-background-color : #0C39FF ;
-fx-text-fill: #FFF;
}

.button2
{
-fx-background-color :  #0C39FF;
-fx-border-color: #FFF;
-fx-text-fill:  #FFF;
}
.button2:hover
{
-fx-background-color : #0C3988 ;
-fx-text-fill:   #FFF;
}
.button2:pressed
{
-fx-background-color : #0C3400 ;
-fx-text-fill: #FFF;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;
 
 }


